// 客製化排版內容

p{
    margin-bottom: 0.5em;
}


input{
    background: $primary;
    color: $secondary;
    border:none;
    border-radius: 10px;
    width: 100%;

    &::placeholder{
        font-size: 12px;
    }

    &:focus{
        color:#000;
        background:$secondary;
    }
}