@import '../helpers/customerStyles';

.search-result{
    height: 40vh;
    li{
        margin-top: 5px;
        padding-top: 5px;
        border-bottom: 1px solid #888888;
        p{
            color:#888888;
        }
    }
}

// p 標籤的padding 很礙眼 而且className 標籤竟然會通吃??
// 也要來想想scss 的開發實作了
// 底下的prototype 是在做什麼?
// 為了能讓我在更理想的環境欣賞動畫, 必須努力阿