@import '../helpers/customerStyles';
@import '../helpers//variables';

.show-route-result{
    height: 60vh;
    li{
        margin-top: 5px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #888888;

        &:focus{
            background:$primary;
        }
        p .bus-arriving{
            display: block;
            color:white;
            background: $red;
            min-width: 77px;
            max-height: 25px;
            text-align: center;
            border-radius: 7px;
            border-top: 2px;
            border-bottom: 2px;
            margin-right: 18px;
        }
        p .bus-not-depart{
            display: block;
            color:white;
            background: $dark;
            min-width: 77px;
            max-height: 25px;
            text-align: center;
            border-radius: 7px;
            border-top: 2px;
            border-bottom: 2px;
            margin-right: 18px;
        }
        p .bus-arrival-time{
            display: block;
            color:white;
            background: $blue;
            min-width: 77px;
            max-height: 25px;
            text-align: center;
            border-radius: 7px;
            border-top: 2px;
            border-bottom: 2px;
            margin-right: 18px;
        }
    }
}

.btn-serach-nav{
    background: $secondary;
    min-height: 20px;
    width: 50%;

    &:focus{
        color:white;
        background: $blue;
    }
}

.lineprogress{
    // color:white;
    // background:$dark;
    // height: 5px;
    // transition: width 20s linear 0s;
    // width: 100%;
    width: 100%;
    height: 5px;
    margin-top: 10px;
    border-radius: 5px;
    background:$light;
    .percentage{
        display: block;
        width: 100%;
        height: 100%;
        background-color: $blue;
        border-radius: 5px;
        animation: progress 30000ms ease-in 1;
    }
    @keyframes progress {
        from {
            width: 0;
        }
    }
}

// 看起來可以用 popup 到站資訊
// marker 就用圓點表示
.dialogue{
    justify-content: center;
    background: $red;
    position: relative;
    max-height: 82px;
    max-width: 77px;
    padding: 5px;
    border: 3px solid;
    border-color: $primary;
    border-radius: 12px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

    &::before{
        position:absolute;
        content:"";
        bottom:-40px;
        left:50%;
        transform:translateX(-50%);
        width: 0;
        height: 0;
        border-width:30px;
        border-style:solid;
        border-top-color:$red;
        border-right-color: transparent ;
        border-bottom-color: transparent;
        border-left-color: transparent ;
        z-index:0;
    }
    &::after{
        position:absolute;
        content:"";
        bottom:-43px;
        left:50%;
        transform:translateX(-50%);
        width: 0;
        height: 0;
        border-width:30px;
        border-style:solid;
        border-top-color: $primary;
        border-right-color: transparent ;
        border-bottom-color: transparent;
        border-left-color: transparent ;
        z-index:-1;
    }
    .stop-name {
        font-size: 10px;
        color:$primary;
        margin-top: 3px;
        z-index:1;
      }
    .stop-time{
        font-size: 12px;
        color: $primary;
        z-index:1;
    }
}

// .search-result{
//     li{
//         border-bottom: 1px solid #000;
//     }
// }
