ol , ul{
    padding-left: 0px;
}

.search-result{
    height: 40vh;
    li{
        margin-top: 5px;
        padding-top: 5px;
        border-bottom: 1px solid #888888;
        p{
            color:#888888;
        }
    }
}

// p 標籤的padding 很礙眼 而且className 標籤竟然會通吃??
// 也要來想想scss 的開發實作了
// 底下的prototype 是在做什麼?
// 難道說在各個scss 檔案中 import variables 檔案 就可以不用watchsass 產生一對冗餘的東西了嗎