.search-btn{
    font-size: 15px;
    width: 70px;
    height: 40px;
    border: 0;
    border-radius:10px;
    color:white;
    margin-bottom: 8px;
}
.btn-red{
    background-color:#E87E7E;
}
.btn-green{
    background-color: #5CC1A9;
}
.btn-orange{
    background-color: #EEA12E;
}
.btn-F{
    background-color: #888888
}
.btn-blue{
    background-color: #3591C5;
}
.btn-brown{
    background-color: #A86556;
}
.btn-yellow{
    background-color: #DEBE4E;
}
.btn-small{
    background-color: #888888;
}
.btn-num{
    color:black;
    background-color: #D5D5D5;
}
.btn-other{
    background-color: #283C43;
}